
.container-xs{
    max-width: 500px;
    margin: auto;
}

.card h3, .card p{   
    padding: 0 1rem;
    color: rgb(180, 179, 179);
    font-style: italic; 
}
.card img{
    max-width: 100%;
    object-fit: cover;
}

.thumbnails img{
    width: calc(100% / 5);    
}

.thumbnails img:not(.active){
    opacity: 50%;
}